<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
  *{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

li.attempted {
  background-color: #ffc;
  color: #333;
  border-color: #ff9900;
}

</style>
<body>
  

{% block content %}
  <h1>LIST OF QUIZZES</h1>

  <ul>
    {% for quiz in quiz %}
  {% if quiz in quiz_attempted %}
    <li>{{ quiz.q_name }} (attempted)</li>
  {% else %}
    <li><a href="{% url 'result_table' quiz.id %}">{{ quiz.id }}. {{ quiz.q_name }}</a></li>
  {% endif %}
{% empty %}
  <li>No quizzes available.</li>
{% endfor %}

  </ul>
{% endblock %}
</body>
</html>